<!-- _sidebar.html -->
<aside id="sidebar">
  <div class="sidebar-title">
    <div class="sidebar-profile">
      <img
        src="/images/profile.jpg"
        alt="Profile Picture"
        class="profile-picture"
      />
      <div class="profile-name-box">
        <span class="profile-name">{{ user.get_full_name }}</span>
      </div>
    </div>
  </div>

  <ul class="sidebar-list">
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">school</span>
        Academic Sect...
      </a>
      <ul class="dropdown-menu" id="dropdown-menu">
        <li><a href="{% url 'add-session' %}">Add Section</a></li>
        <li><a href="{% url 'list-sessions' %}">Section List</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">class</span>
        Classes
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'add-class' %}">Add Class</a></li>
        <li><a href="{% url 'list-classes' %}">All Classes</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">notes</span>
        Subjects
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'add-subject' %}">Add Subject</a></li>
        <li><a href="{% url 'list-subjects' %}">All Subjects</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">group</span>
        Students
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'add-student' %}">Add Student</a></li>
        <li><a href="{% url 'list-students' %}">All Students</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">person</span>
        Teachers
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'add-teacher' %}">Add Teacher</a></li>
        <li><a href="{% url 'list-teachers' %}">All Teachers</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">videocam</span>
        G-meet Classes
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'gmeetclass-list' %}">All G-meet Classes</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">library_books</span>
        Lesson Plan
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'lessonplan-list' %}">Lesson Plan List</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">note</span>
        Notes
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'classnote-list' %}">Notes List</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">library_add</span>
        Library
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'library:library_books_list' %}">View Library Books</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">assignment</span>
        Examination
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/updated/exam/examinations.html">View Examination Papers</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">assignment</span>
        Homework
      </a>
      <ul class="dropdown-menu">
        <li><a href="/updated/homework/homework.html">Add Assignments</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">grade</span>
        Results
      </a>
      <ul class="dropdown-menu">
        <li><a href="/updated/results/results.html">Add Results</a></li>
      </ul>
    </li>
    <li class="sidebar-list-item">
      <a href="#">
        <span class="material-icons-outlined">settings</span>
        Settings
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'settings' %}">Configurations</a></li>
      </ul>
    </li>
  </ul>
</aside>
