<style>
  @media screen and (max-width: 992px) {
    .sidebar-title>span {
      display: inline;
    }
  }
</style>

<!-- _header.html -->
<header class="header dashboard_header">
  <div class="menu-icon" onclick="openSidebar()">
    <span class="material-icons-outlined">menu</span>
  </div>
  <div class="header-left">
    <a href="{% url 'logout_redirect' %}" style="color: red;" title="logout">
      <span class="material-icons-outlined">logout</span>
    </a>
  </div>
  <div class="header-right">
    <h2 class="h2">
      Hi, {% if user.get_full_name %}
      <b>
        {{ user.get_full_name }} {% else %} {{ user.email }} {% endif %}
      </b>
    </h2>
  </div>
</header>

<style>
  .h2 {
    color: #fff;
    text-transform: capitalize;
  }
</style>